{% extends 'base.html' %}

{% block title %}Главная | СытГУТИ{% endblock %}

{% block content %}

    <!-- ПРИВЕТСТВИЕ -->
    <div class="greeting">
        <h1>Добро пожаловать в СытГУТИ! 🍔</h1>
        {% if user.is_authenticated %}
            <p>Привет, сладенький-вкусненький малышочек {{ user.username }}!</p>
        {% endif %}
    </div>
    
    <div class="main-menu">
    <a href="/places/" class="menu-card">
    <div class="menu-card-inner">
        <div class="menu-icon lottie-icon" id="plate-animation"></div>
        <h2>Заведения</h2>
        <p>Найди место, где успеешь поесть</p>
    </div>
</a>

<a href="/roulette/" class="menu-card">
    <div class="menu-card-inner roulette">
        <div class="menu-icon lottie-icon" id="dice-animation"></div>
        <h2>Обед-рулетка</h2>
        <p>Найди компанию для обеда</p>
    </div>
</a>
</div>

<!-- анимация для "Заведения" и "Обед-рулетка" -->
<script>
    const plate = document.getElementById('plate-animation');
    const dice = document.getElementById('dice-animation');

    const plateAnimation = lottie.loadAnimation({
        container: plate,
        renderer: 'svg',
        loop: false,
        autoplay: false,
        path: '/static/animations/chpic.su_-_unkib2w_005.json'
    });

    const diceAnimation = lottie.loadAnimation({
        container: dice,
        renderer: 'svg',
        loop: false,
        autoplay: false,
        path: '/static/animations/chpic.su_-_DiceCubeEmoji_001.json'
    });

    // Настройки кадра анимации после обновления страницы
    diceAnimation.addEventListener('DOMLoaded', () => {
        diceAnimation.goToAndStop(diceAnimation.totalFrames - 1, true);
    });

    const plateCard = plate.closest('.menu-card');
    const diceCard = dice.closest('.menu-card');

    plateCard.addEventListener('mouseenter', () => {
        plateAnimation.goToAndPlay(0, true);
    });

    diceCard.addEventListener('mouseenter', () => {
        diceAnimation.goToAndPlay(0, true);
    });
</script>

{% endblock %}