{% extends 'base.html' %}

{% block title %}Главная | СытГУТИ{% endblock %}

{% block content %}

    <!-- ПРИВЕТСТВИЕ -->
    <div class="greeting">
        <h1>Добро пожаловать в СытГУТИ! 🍔</h1>
        {% if user.is_authenticated %}
            <p>Привет, сладенький-вкусненький малышочек {{ user.username }}!</p>
        {% endif %}
    </div>
    
    <div style="display: flex; justify-content: center; align-items: center; gap: 40px; min-height: 60vh; flex-wrap: wrap;">
        <a href="/places/" class="menu-card" style="text-decoration: none; text-align: center;">
            <div style="background: #5F9EA0; padding: 50px; border-radius: 30px; transition: 0.3s; box-shadow: 0 10px 30px rgba(0,0,0,0.1);">
                <div style="font-size: 64px;">🍽️</div>
                <h2 style="color: white; margin-top: 20px;">Заведения</h2>
                <p style="color: white;">Найди место, где успеть поесть</p>
            </div>
        </a>
        
        <a href="/roulette/" class="menu-card" style="text-decoration: none; text-align: center;">
            <div style="background: #f99039; padding: 50px; border-radius: 30px; transition: 0.3s; box-shadow: 0 10px 30px rgba(0,0,0,0.1);">
                <div style="font-size: 64px;">🎲</div>
                <h2 style="color: white; margin-top: 20px;">Обед-рулетка</h2>
                <p style="color: white;">Найди компанию для обеда</p>
            </div>
        </a>
    </div>

{% endblock %}