<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Регистрация | СытГУТИ 🍔</title>
    <link rel="stylesheet" href="/static/register_style.css">
</head>
<body>
    
    <form method="post">
        <h2>РЕГИСТРАЦИЯ</h2>
        
        <div class="input-box {% if form.username.errors %}error{% endif %}">
            <span>Имя пользователя</span>
            <input type="text" name="username" value="" required>
                <div class="error-message"></div>
        </div>
        
        <div class="input-box {% if form.password1.errors %}error{% endif %}">
            <span>Пароль</span>
            <input type="password" name="password1" required>
                <div class="error-message"></div>
        </div>
        
        <div class="input-box {% if form.password2.errors %}error{% endif %}">
            <span>Подтверждение пароля</span>
            <input type="password" name="password2" required>
                <div class="error-message"></div>
        </div>
        
        <button type="submit" class="submit-bin">Зарегистрироваться</button>
    
        <p>Уже есть аккаунт? <a href="/accounts/login/">Войти</a></p>
        <p><a href="/">На главную</a></p>
    </form>
</body>
</html>