<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Регистрация | СытГУТИ 🍔</title>
    <link rel="stylesheet" href="/static/register_style.css">
</head>
<body>
    
    <form method="post">
        <h2>Регистрация</h2>
        {% csrf_token %}
        
        <!-- БЛОК С ОШИБКАМИ -->
        {% if messages %}
            <div style="color: red; margin-bottom: 15px;">
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}
        
        <div class="input-box">
            <span>Имя пользователя</span>
            <input type="text" name="username" required>
        </div>
        
        <div class="input-box">
            <span>Пароль</span>
            <input type="password" name="password1" required>
        </div>
        
        <div class="input-box">
            <span>Подтверждение пароля</span>
            <input type="password" name="password2" required>
        </div>
        
        <button type="submit" class="submit-bin">Зарегистрироваться</button>
    
        <p>Уже есть аккаунт? <a href="/accounts/login/">Войти</a></p>
        <p><a href="/">На главную</a></p>
    </form>
</body>
</html>