@charset "UTF-8";
/* #fefcfc*/
/* ADD8E6 */
/* 5F9EA0 */
/* 4b8082 */
/* f99039 */

@font-face {
    font-family: 'Tobi';
    src: url('/static/fonts/Tobi\ Greek\ Cyrillic\ Regular.otf');
    font-weight: normal;
    font-style: normal;
}

* {                                     /* (*) - все элементы на странице */
    margin: 0;                          /* Убираем внешние отступы у всех элементов */
    padding: 0;                         /* Убираем внутренние отступы у всех элементов */
    box-sizing: border-box;             /* Ширина элемента включает padding и border */
}

body {
    background: rgb(173, 216, 230);
    display: flex;
    justify-content: center;            /* Центрирование по горизонтали */
    align-items: center;                /* Центрирование по вертикали */
    font-family: 'Tobi';     /* Шрифт для всего текста на странице */
    height: 100vh;
}

/* Контейнер формы */
form {
    background: #fefcfc;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 0 85px #5F9EA0;
    width: 320px;
    text-align: center;
}

/* Заголовок */
h2 {
    margin-bottom: 30px;
    color: #5a9a9c;
    font-size: 28px;
    -webkit-text-stroke: 0.5px #2c3e50;
    font-weight: bold;
}

/* Блок с полем ввода */
.input-box {
    position: relative;
    margin: 20px 0;
}

/* Подпись над полем */
.input-box span {
    display: block;
    margin-bottom: 8px;
    color: #0f3333;
    font-weight: bold;
    width: 100%;
}

/* Поля ввода */
.input-box input {
    width: 100%;
    padding: 12px 15px;
    border: none;
    outline: none;
    background: none;
    font-size: 18px;
    border-bottom: 2px solid #4b8082;
    transition: 0.4s;
    background-color: transparent;

}

.input-box input:focus {
    outline: none;
    border-color: #4b8082;
}

/* Кнопка */
.submit-bin {
    width: 100%;
    padding: 12px;
    font-family: 'Tobi';
    background:  #4b8082;
    color: #0f3333;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

.submit-bin:hover {
    background: #f99039;
    transform: scale(1.02);
    box-shadow: 0 4px 15px #0000004d;
}

/* Текст и ссылки */
p {
    margin-top: 20px;
    color: #787371;
}

a {
    color: #787371;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}