@charset "UTF-8";

* {                                     /* (*) - все элементы на странице */
    margin: 0;                          /* Убираем внешние отступы у всех элементов */
    padding: 0;                         /* Убираем внутренние отступы у всех элементов */
    box-sizing: border-box;             /* Ширина элемента включает padding и border */
}

body {
    background-color: #ea2a2a;        /* Цвет фона страницы */
    font-family: Arial;                 /* Шрифт для всего текста на странице */
    text-align: center;                 /* Выравнивание по центру */
    overflow-x: hidden;                 /* Запрещаем горизонтальный скролл */
}